@import './vars.scss';

.side_wrapper {
	position: absolute;
	top: 0px;
	width: 100%;
}
.side {
	position: absolute;
	background: pink;
	color: black;
	width: 100%;
	height: 100vh;
}

.enter {
	left: 100%;
}
.enter.enter_active{
	left: 0px;
	transition: left .3s ease-in;
}
.leave {
	left: 0;
}
.leave.leave_active {
	left: 100%;
	transition: left .3s ease-in;
}